<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
   <mapper namespace="com.team404.user.mapper.UserMapper">
  
  <!-- 중복체크 --> 
   <select id="idConfirm" resultType="int"><!-- 카운트(result)를 반환값으로 이용 -->
		Select count(*) as result from users where userid = #{userId}
   </select>
   
   <!-- 회원가입 -->
   <insert id="join">
		Insert into users (userId, userPw, userName, userPhone1, userPhone2, userEmail1, userEmail2, addrZipNum, addrBasic, addrDetail) 
		values (#{userId}, #{userPw}, #{userName}, #{userPhone1}, #{userPhone2}, #{userEmail1}, #{userEmail2}, #{addrZipNum}, #{addrBasic}, #{addrDetail})
   </insert>
   
   <!-- 로그인 -->
   <select id="login" resultType="int">
   		Select count(*) as result from users where userid = #{userId} and userpw = #{userPw}
   </select>
   
   <!-- 마이페이지 -->
   <!-- id속성에는 사용할 이름이 들어감 / type속성에는 vo의 경로(mybatis-config에 선언해놓은거=alias)-->
   <!-- result태그의 column은 DB컬럼명 -->
   <!-- property속성은 vo의 변수명이 들어가며 대소문자까지 동일해야 합니다. -->
   <resultMap type="UserVO" id="userBoardList">
   		<result property="userId" column="userid"/>
   		<result property="userName" column="username"/>
   		<result property="userPhone1" column="userphone1"/>
   		<result property="userPhone2" column="userphone2"/>
   		<result property="userEmail1" column="useremail1"/>
   		<result property="userEmail2" column="useremail2"/>
   		<result property="addrZipNum" column="addrzipnum"/>
   		<result property="addrBasic" column="addrbasic"/>
   		<result property="addrDetail" column="addrdetail"/>
   		<collection property="userBoardList" resultMap="list"/>
   </resultMap>
   <resultMap type="FreeBoardVO" id="list">
		<result property="bno" column="bno"/>
		<result property="title" column="title"/>
		<result property="regdate" column="regdate"/>
   </resultMap>
      
   <!-- join의 결과로 하나의 데이터에 대하여 부가적인 데이터 처리를 하는 경우 1:N관계를 처리할 수 있는 resultMap태그를 이용함 -->
   <select id="getInfo" resultMap="userBoardList">
		SELECT  userid, username, userphone1, userphone2, useremail1, useremail2, 
	        	addrzipnum, addrbasic, addrdetail, 
	        	f.bno, f.title, f.regdate
	  	From users u LEFT OUTER JOIN freeboard f 
	    On u.userId = f.writer
	 	Where userid = #{userId}
		Order By bno desc
   </select>
   
   
   <update id="updateUser">
   		Update users SET userpw=#{userPw}, username=#{userName}, userphone1=#{userPhone1}, userphone2=#{userPhone2}, 
   		useremail1 =#{userEmail1}, useremail2 =#{userEmail2}, addrzipnum =#{addrZipNum}, addrbasic =#{addrBasic}, addrdetail =#{addrDetail} where userid=#{userId}
   </update>
   
   </mapper>